<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DARRYL IS SUPER AWESOME FOR SURE</title>
    <%- include('style') %>
</head>

<body>
    <h1>Leyang's Darryl Skin Collection</h1>
    <p>Search Leyang's Skins (not irl, unfortunately)</p>
    <form action="/search" method="POST">
        <input type="text" name="query" placeholder="Skin Name/ID">
        <button type="submit">Search</button>
    </form>
</body>

</html>